/* Your code here  */
body {
    text-align: center;
    background-color: rgb(43, 122, 226);
}

li {
    list-style-type: none;
    color: black;
}
#playlists, div + h2 {
    background-color: rgb(226, 43, 156);
}
.current-song:hover {
    font-size: 200%;
}